*
{
    margin: 0;
    padding: 0;
}


body,html
{
    width:100%;
    height:100%;
    padding: 0;
    margin:0;
    /*font-family: "HelveticaNeue-Light";*/
    font-family: 'Roboto', sans-serif;
    background-color: #fdfdfd;

}

#main
{
    width: 100%;
    align-content: center;
    height: 90%;
}

#article
{
    font-weight: 100;    
    margin-left: 120px;
    margin-right: 120px; 
    margin-top: 30px;
}

#header_nav
{
    height: 42px;
    align-content: center;
    text-align: center;
    background-color: rgb(65, 65, 65);
}

#nav_box
{ 
    padding: 1px;
}

#nav_list
{
    list-style-type: none;
    margin-top: 9px;
    font-size: 16px;
}

li
{
    display: inline; 
    margin-left : 12px;
    margin-right: 12px;
    padding:  0px;
}

/* unvisited link */
a:link 
{
    text-decoration: none; 
    color: rgb(248, 248, 248);
}

/* visited link */
a:visited 
{
    text-decoration: none; 
    color: rgb(248, 248, 248);
}

/* mouse over link */
a:hover 
{
    text-decoration: none; 
    color: rgb(247, 192, 89);
}

/* selected link */
a:active 
{
    text-decoration: none; 
    color: rgb(248, 248, 248);
}

h1 
{
    color: rgb(47, 47, 47);
    padding: 10px;
    text-align: center;
}

p  
{
    margin-bottom: 12px;
}
