* 
{
    margin: 0; 
    padding: 0;
}


body,html
{
    width:100%;
    height:100%;
    padding: 0;
    margin:0;
    /*font-family: "HelveticaNeue-Light";*/
    font-family: 'Oswald', sans-serif; 
}

.outer
{

    position:relative; 
    top: 50%; 
}

.clockBox 
{
    font-size:  100px; 
    margin: auto 10px;
    text-align: center;
}
